# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
pip-log.txt

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Alembic
alembic/versions/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# MyPy, Pylint, Pyright
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
pylint-report.txt

# SQLite files
*.sqlite3
*.db
*.sqlite

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Env files
.env
.env.*
# Docker
*.tar
*.log
docker-compose.override.yml
