# Ignore everything
*

# Allow the .gitignore file itself
!.gitignore

# Allow specific directories to be tracked
!15_GenerativeAI/



# Allow .gitkeep files
!15_GenerativeAI/.gitkeep


# Allow all files within the specified directories
!15_GenerativeAI/**

# Allow the file to be tracked


# Ignore the directory and its contents

# Ignore the C++ Primer (5th Edition).pdf file

