# Ignore everything
*

# Allow the .gitignore file itself
!.gitignore

# Allow specific directories to be tracked
!00_Mathmatics/
!01_ComputerArchitecture_Linux_Networking/
!02_Programming_OOP/
!03_DataStructure_Algorithms_ProblemSolving/
!04_Advanced_Mathmatics/
!Shared_For_ALL/
# Allow .gitkeep files
!00_Mathmatics/.gitkeep
!01_ComputerArchitecture_Linux_Networking/.gitkeep
!02_Programming_OOP/.gitkeep
!03_DataStructure_Algorithms_ProblemSolving/.gitkeep
!04_Advanced_Mathmatics/.gitkeep

# Allow all files within the specified directories
!00_Mathmatics/**
!01_ComputerArchitecture_Linux_Networking/**
!02_Programming_OOP/**
!03_DataStructure_Algorithms_ProblemSolving/**
!04_Advanced_Mathmatics/**


# Ignore the directory and its contents
02_Programming_OOP/Educational_files/ahmed_samy/
03_DataStructure_Algorithms_ProblemSolving/ref/GitHubGrakonCodeExamples/
02_Programming_OOP/02_C++_DS_AL_DP/The-C-20-Masterclass-Source-Code/
/Shared_For_ALL/repos
02_Programming_OOP/01_Python/stackoverflow-developer-survey-2020